@import "tailwindcss";

body {
   font-family: Geist;
   background-color: #f5f5f5;
}

@media screen and (min-width: 768px) {
   .r {
      display: none;
   }
}

.mad {
   color: #e9eaff;
}

@supports (corner-shape: superellipse(2)) {
   .sqc-sm {
      corner-shape: superellipse(2);
      border-radius: 10px;
   }
   .sqc-md {
      corner-shape: superellipse(2);
      border-radius: 20px;
   }
   .sqc-lg {
      corner-shape: superellipse(2);
      border-radius: 30px;
   }
   .sqc-xl {
      corner-shape: superellipse(2);
      border-radius: 40px;
   }
   .sqc-2xl {
      corner-shape: superellipse(2);
      border-radius: 50px;
   }
   .sqc-3xl {
      corner-shape: superellipse(2);
      border-radius: 80px;
   }

   .sqc-2xl-tr {
      corner-shape: superellipse(2);
      border-top-right-radius: 50px;
   }
   .sqc-2xl-bl {
      corner-shape: superellipse(2);
      border-bottom-left-radius: 50px;
   }
}
